parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_object\(\) with object will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/contracts/IbexaTestCore.php

		-
			message: '#^Attribute class PHPUnit\\Framework\\Attributes\\DataProvider does not exist\.$#'
			identifier: attribute.notFound
			count: 1
			path: src/contracts/Translation/AbstractTranslationCase.php
